

/*Phone*/
@media screen and (min-width: 325px) and (max-width:767px) {
    #left-login-dif {
        display: none;
    }
    #rigth-login-dif{
        margin-left: 20px;
    }
    #div-btn-seconnecter{
        margin-right: 1;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width:1023px) {
    #left-login-dif {
        display: block;
    }
    #div-btn-seconnecter{
        margin-right: 1px;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) and (max-width:1600px) {
    #left-login-dif {
        display: block;
    }

    #div-btn-seconnecter{
        margin-right: 1px;
    }
}
